*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --Cyan: hsl(179, 62%, 43%);
  --BrightYellow: hsl(71, 73%, 54%);
  --LightGray: hsl(204, 43%, 93%);
  --GrayishBlue: hsl(218, 22%, 67%);
  --CyanDark: hsla(178, 48%, 43%, 1);
  --padding: 15px 20px;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  background-color: var(--LightGray);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

@media (min-width: 320px) {
  .container{
    width: 70%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr .3fr .7fr 1fr;
    grid-template-areas: 
    "offer offer"
    "subscription subscription"
    "subscription subscription"
    "benefits benefits";
    -webkit-box-shadow: 0px 0px 40px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 40px -24px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 40px -24px rgba(0,0,0,0.75);
  }

  .offer {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: var(--padding);
    grid-area: offer;
    border-radius: 5px 5px 0 0;
  }

  .offer__title {
    color: var(--Cyan);
  }

  .offer__subtitle {
    color: var(--BrightYellow);
    font-weight: 700;
  }

  .offer__description {
    color: var(--GrayishBlue);
    font-size: 0.9rem;
    line-height: 200%;
  }

  .subscription {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: var(--CyanDark);
    padding: var(--padding);
    grid-area: subscription;
  }

  .subscription__payment {
    display: flex;
    align-items: center;
  }

  .subscription__money {
    font-size: 2rem;
    font-weight: 700;
  }

  .subscription__time {
    margin-left: 5px;
  }

  .subscription__button {
    background: var(--BrightYellow);
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    -webkit-box-shadow: 0px 8px 24px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 24px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 24px -12px rgba(0,0,0,0.75);
  }

  .benefits{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: var(--Cyan);
    padding: var(--padding);
    grid-area: benefits;
    border-radius: 0 0 5px 5px;
  }

  .benefits__list {
    list-style: none;
    font-size: 0.9rem;
    line-height: 150%;
  }
}

@media (min-width: 960px) {
  .container{
    width: 35%;
    height: 50%;
    grid-template-areas: 
    "offer offer"
    "offer offer"
    "subscription benefits"
    "subscription benefits";
  }

  .subscription {
    border-bottom-left-radius: 5px;
  }

  .benefits {
    border-radius: 0 0 5px 0;
  }
}